<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>聊天室</title>
<link rel="stylesheet" href="static/css/amazeui.min.css" />
<link rel="stylesheet" href="static/css/main.css" />
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<style>
		.talk-enter ,.talk-leave-to {
			opacity: 0;
		}

		.talk-enter-active , .talk-leave-active{
			-webkit-transition: all 1s;
			-moz-transition: all 1s;
			-ms-transition: all 1s;
			-o-transition: all 1s;
			transition: all 1s;
		}
		.popup_menu ul,.popup_menu ul li{margin:0; padding:0; list-style:none; font-size:12px;}
		.popup_menu{position:absolute; z-index:90; border:1px solid #AEAEAE; padding:2px; width:120px;}
		.popup_menu a{ display:block; color:#325B8E; text-indent:12px; text-decoration:none; height:26px; line-height:25px; padding-right:5px;}
		.popup_menu a:hover{ background:#57B4E4; color:#fff; border-radius:5px;}
	</style>
</head>
<body>

<div class="box">
	<div id="myappfirst">
	<div :class="{wechat:showTalk,wechat2:!showTalk}">
		
		<div class="sidestrip">
			<div class="am-dropdown" data-am-dropdown>
				<!--头像插件-->
				<div class="own_head am-dropdown-toggle"></div>
				<div class="am-dropdown-content">
					<div class="own_head_top">
						<div class="own_head_top_text">
							<p class="own_name">[[ myname ]]<img src="static/images/icon/head.png" alt="" /></p>
							<p class="own_numb">账号：[[ myusername ]]</p>
						</div>
					</div>
					<div class="own_head_bottom">
						<p><span>邮箱</span>[[ myemail ]]</p>
					</div>
				</div>
			</div>
			<!--三图标-->
			<div class="sidestrip_icon">
				<a id="si_1" style="background: url(static/images/icon/head_2_1.png) no-repeat;"></a>
				<a id="si_2"></a>
				<a id="si_3"></a>
			</div>
			
			<!--底部扩展键-->
			<div id="doc-dropdown-justify-js">
				<div class="am-dropdown" id="doc-dropdown-js" style="position: initial;">
					<div class="sidestrip_bc am-dropdown-toggle"></div>
					<ul class="am-dropdown-content" style="">
						<li>
							<a href="#" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 400, height: 225}">意见反馈</a>
							<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
							  <div class="am-modal-dialog">
								<div class="am-modal-hd">Modal 标题
								  <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
								</div>
								<div class="am-modal-bd">
								  Modal 内容。本 Modal 无法通过遮罩层关闭。
								</div>
							  </div>
							</div>
						</li>
						
						<li><a href="#">备份与恢复</a></li>
						<li><a href="#">设置</a></li>
						<li><a href="/logout">注销</a></li>
					</ul>
				</div>	
			</div>	
		</div>
		
		<!--聊天列表-->
		<div class="middle on">
			<div class="wx_search">
				<input type="text" placeholder="搜索"/>
				<button>+</button>
			</div>
			<div class="office_text">
				<ul class="user_list">
					<li v-for="(user,index) in userlist" @click="showActive(index)" :class="{user_active:listactive == index}" class="clicks" :us="user.username">
						<div class="user_head"><img :src="user.img"/></div>
						<div class="user_text">
							<p class="user_name">[[ user.name ]]</p>
							<p class="user_message">[[ user.lastMessage ]]</p>
						</div>
						<div class="user_time">[[ user.time ]]</div>
						<el-badge class="mark" :max="99" :value="showValue(index)" v-show="canShow(index)"/>
					</li>
				</ul>
			</div>	
		</div>

		<!--好友列表-->
		<div class="middle">
			<div class="wx_search">
				<input type="text" placeholder="搜索"/>
				<button>+</button>
			</div>
			<div class="office_text">
				<ul class="friends_list">
					<li>
						<p>添加朋友</p>
						<div class="friends_box">
							<div class="user_head"><img src="static/images/head/1.jpg"/></div>
							<div class="friends_text">
								<p class="user_name">添加朋友</p>
							</div>
						</div>
					</li>
					<li>
						<p>公众号</p>
						<div class="friends_box">
							<div class="user_head"><img src="static/images/head/2.jpg"/></div>
							<div class="friends_text">
								<p class="user_name">公众号</p>
							</div>
						</div>
					</li>


					<li class="panel-body" v-for="(value,key) in users">
						<p v-text="key"></p>
						<div class="friends_box" v-for="(one,index) in value" @click="chatWithOne(key,index)">
							<div class="user_head"><img :src="one.img"/></div>
							<div class="friends_text">
								<p class="user_name" v-text="one.name"></p>
							</div>
						</div>
					</li>
				</ul>
			</div>	
		</div>


		
		<!--程序列表-->
		<div class="middle">
			<div class="wx_search">
				<input type="text" placeholder="搜索收藏内容"/>
				<button>+</button>
			</div>
			<div class="office_text">
				<ul class="icon_list">
					<li class="icon_active">
						<div class="icon"><img src="static/images/icon/icon.png" alt="" /></div>
						<span>全部收藏</span>
					</li>
					<li>
						<div class="icon"><img src="static/images/icon/icon1.png" alt="" /></div>
						<span>链接</span>
					</li>
					<li>
						<div class="icon"><img src="static/images/icon/icon2.png" alt="" /></div>
						<span>相册</span>
					</li>
					<li>
						<div class="icon"><img src="static/images/icon/icon3.png" alt="" /></div>
						<span>笔记</span>
					</li>
					<li>
						<div class="icon"><img src="static/images/icon/icon4.png" alt="" /></div>
						<span>文件</span>
					</li>
					<li>
						<div class="icon"><img src="static/images/icon/icon5.png" alt="" /></div>
						<span>音乐</span>
					</li>
					<li>
						<div class="icon"><img src="static/images/icon/icon6.png" alt="" /></div>
						<span>标签</span>
					</li>
				</ul>
			</div>	
		</div>
	<transition name="talk">
		<div v-show="showTalk">
		<!--聊天窗口-->
		<div class="talk_window">
			<div class="windows_top">
				<div class="windows_top_box">
					<span>[[ activeUser.name ]]</span>
					<ul class="window_icon">
						<li @click="closeTalk()"><a href="" ><img src="static/images/icon/icon10.png"/></a></li>
					</ul>
					<!-- 侧边栏内容 -->
					<div id="doc-oc-demo3" class="am-offcanvas">
						<div class="am-offcanvas-bar am-offcanvas-bar-flip">
							<div class="am-offcanvas-content">
								<p><a href="http://music.163.com/#/song?id=385554" target="_blank">网易音乐</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--聊天内容-->
			<div class="windows_body">
				<div class="office_text" style="height: 100%;">
					<ul class="content" id="chatbox">
						<div id="readmore" v-show="haveMoreMsg" @click="readMore()">查看更多消息</div>
						<li v-for="msg in mlists" :class="msg.people">
							<img :src="msg.img" v-if="msg.people == 'me'">
							<img :src="activeUser.img" v-else>
							<span v-text="msg.message"></span>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="windows_input" id="talkbox">
				<div class="input_icon">
					<a href="javascript:;"></a>
					<a href="javascript:;"></a>
					<a href="javascript:;"></a>
					<a href="javascript:;"></a>
					<a href="javascript:;"></a>
					<a href="javascript:;"></a>
				</div>
				<div class="input_box">
					<textarea name="" rows="" cols="" id="input_box"></textarea>
					<button id="send" @click="sendOneMsg()">发送（S）</button>
				</div>
			</div>
		</div>
		</div>
	</transition>
	</div>
	</div>
</div>

<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/amazeui.min.js"></script>
<script type="text/javascript" src="static/js/zUI.js"></script>
<script type="text/javascript" src="static/js/wechat.js"></script>
<script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>
<script src="static/js/message.js"></script>
<script src="static/js/myvue.js"></script>
<script src="static/js/jquery.contextify.js"></script>

<script type="text/javascript">
//三图标
window.onload=function(){
	function a(){
		var si1 = document.getElementById('si_1');
		var si2 = document.getElementById('si_2');
		var si3 = document.getElementById('si_3');
		si1.onclick=function(){
			si1.style.background="url(static/images/icon/head_2_1.png) no-repeat"
			si2.style.background="";
			si3.style.background="";
		};
		si2.onclick=function(){
			si2.style.background="url(static/images/icon/head_3_1.png) no-repeat"
			si1.style.background="";
			si3.style.background="";
		};
		si3.onclick=function(){
			si3.style.background="url(static/images/icon/head_4_1.png) no-repeat"
			si1.style.background="";
			si2.style.background="";
		};
	};
	a();

	var kyoPopupMenu={};
	kyoPopupMenu = (function(){
		return {
			sys: function (obj) {
				$('.popup_menu').remove();
				popupMenuApp = $('<div class="popup_menu app-menu"><ul>' +
						//'<li><a menu="menu1">站长素材</a></li>' +
						//'<li><a menu="menu2">站长之家</a></li>' +
						'<li><a menu="menu3">删除消息</a></li></ul></div>')
						.find('a').attr('href','javascript:;')
						.end().appendTo('body');
				//绑定事件
				/*$('.app-menu a[menu="menu1"]').on('click', function (){
					window.location.href="http://sc.chinaz.com";
				});
				$('.app-menu a[menu="menu2"]').on('click', function (){
					window.location.href="http://sc.chinaz.com";
				});*/
				$('.app-menu a[menu="menu3"]').on('click', function (){
					var a = obj.getAttribute("us");
					$.ajax({
						url:"/delmsg",
						type:"POST",
						data:JSON.stringify({"us":a}),
						contentType:"application/json",
						success:
						function (data) {
							if (data.code == 1) {
								for (var i = 0; i < vue.userlist.length; i++) {
									if (vue.userlist[i].username == a) {
										vue.userlist.splice(i, 1);
									}
								}
							}
							$('.popup_menu').hide();
						}
					});
				});
				return popupMenuApp;
			}
		}})();
	var clicks = document.getElementsByClassName("user_list")[0].getElementsByTagName("li");
	var _this;
	var cando = false;
	for (var i=0;i<clicks.length;i++) {
		clicks[i].onmousedown = function (e) {
			cando = true;
			_this = this;
			setTimeout(function () {
				if (cando) {
					var popupmenu = kyoPopupMenu.sys(_this);
					l = ($(document).width() - e.clientX) < popupmenu.width() ? (e.clientX - popupmenu.width()) : e.clientX;
					t = ($(document).height() - e.clientY) < popupmenu.height() ? (e.clientY - popupmenu.height()) : e.clientY;
					popupmenu.css({left: l,top: t}).show();
				}
			}, 1500);
		}

		clicks[i].onmouseup = function () {
			if (this==_this) {
				cando = false;
			}
		}
	}
	document.getElementsByClassName("box")[0].onmousedown = function () {
		$('.popup_menu').hide();
	}
};

</script>


</body>
</html>
